{
	"useTabs": true,
	"printWidth": 80,
	"endOfLine": "lf",
	"arrowParens": "avoid",
	"embeddedLanguageFormatting": "auto",
	"proseWrap": "always",
	"quoteProps": "as-needed",
	"semi": true,
	"singleQuote": true,
	"trailingComma": "none"
}
