version: "3.1"

services:
    bolt-node:
        image: node:19
        volumes:
          - /home/ubuntu/bolt:/app
        command: ./run.sh
        network_mode: host
        working_dir: /app
        restart: always