name: Build

on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Get the repository's code
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: williamfromnj
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Docker meta
        id: <meta_id>
        uses: docker/metadata-action@v3
        with:
          images: williamfromnj/bolt
          tags: type=ref,event=tag
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.<meta_id>.outputs.tags }}
          labels: ${{ steps.<meta_id>.outputs.labels }}
