name: Build

on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  packages: write

jobs:
  jsr:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write # auth w/JSR
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.42.0
      - name: publish to jsr
        run: |
          cd packages/lightning
          deno publish
  docker:
    runs-on: ubuntu-latest
    steps:
      # Get the repository's code
      - name: checkout
        uses: actions/checkout@v4
      - name: set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: set up buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: williamfromnj
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: metadata
        id: yo
        uses: docker/metadata-action@v3
        with:
          images: williamfromnj/bolt
          tags: type=ref,event=tag
      - name: build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.yo.outputs.tags }}
          labels: ${{ steps.yo.outputs.labels }}
